Repository blacng/so-llm-bootcamp-project, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ui, backend, config, devops, testing, security, dependencies

Optimized Github Actions performance issues
  .github/workflows/ci.yml
Labels: devops

Optimized bandit security scan
  .bandit
  .github/workflows/ci.yml
Labels: devops

Simplified Security Scan
  .github/workflows/ci.yml
Labels: devops

Fixed issues with README.md
  .github/WORKFLOWS_README.md
  docs/GITHUB_ACTIONS_SUMMARY.md
Labels: documentation, devops

Fixed linting errors
  Home.py
  agent_service.py
  config.py
  healthcheck.py
  langchain_helpers.py
  pages/1_Basic_Chatbot.py
  pages/2_Chatbot_Agent.py
  pages/3_Chat_with_your_Data.py
  pages/4_MCP_Agent.py
  server.py
  tests/health_check.py
  tests/test_pii_helper.py
  tests/test_pii_integration.py
  tests/test_query_pii.py
  ui_components.py
Labels: ui, backend, config, testing, security

Fixed Docker Compose Command in ci.yml
  .github/workflows/ci.yml
Labels: devops

Updated CI workflow to fix docker image error
  .github/workflows/ci.yml
Labels: devops

Updated docker-compose to docker compose in Github Action performance workflow
  .github/workflows/performance.yml
  CLAUDE.md
Labels: documentation, devops

Added langgraph visualization jupyter notebook
  langgraph_visualization.ipynb
Labels: none

Added presentation materiales
  docs/PRESENTATIONS_README.md
  docs/PRESENTATION_GUIDE.md
  docs/langgraph_agents_presentation.pptx
  docs/langgraph_presentation.md
  generate_langgraph_presentation.py
Labels: documentation

Fixed error causing update dependencies cicd to fail
  .github/workflows/dependency-update.yml
Labels: devops

Fixed code formatting and linting errors
  generate_langgraph_presentation.py
  langgraph_visualization.ipynb
Labels: none

chore: update dependencies
  uv.lock
Labels: dependencies

chore: update dependencies
  uv.lock
Labels: dependencies

chore: update dependencies
  uv.lock
Labels: dependencies

.github/labeler.yml:

# Auto-labeling configuration for PRs based on changed files

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**/*']

# Frontend/UI changes
ui:
  - changed-files:
    - any-glob-to-any-file: ['pages/**/*', 'ui_components.py']

# Backend/Logic changes
backend:
  - changed-files:
    - any-glob-to-any-file: ['langchain_helpers.py', 'agent_service.py', 'server.py']

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file: ['config.py', '.env*', 'docker-compose.yml', 'Dockerfile']

# Infrastructure/DevOps changes
devops:
  - changed-files:
    - any-glob-to-any-file: ['Dockerfile', 'docker-compose.yml', 'Makefile', '.github/**/*']

# Testing changes
testing:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*', '**/test_*.py']

# Security changes
security:
  - changed-files:
    - any-glob-to-any-file: ['config.py', 'secrets/**/*']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['pyproject.toml', 'uv.lock', 'requirements.txt']
